# Postgres
POSTGRES_USER=copa_admin
POSTGRES_PASSWORD=troque_esta_senha
POSTGRES_DB=copa_do_mundo
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Ollama
OLLAMA_URL=http://localhost:11434/api/generate
OLLAMA_MODEL=llama3.2
